@import 'config';
@import 'utilities';
@import 'buttons';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $light-color;
  font-family: $font-stack;
  line-height: 1.6;
}

.img {
  width: 100%;
}

a {
  text-decoration: none;
}

.showcase {
  //background-color: $primary-color;
  //color: set-text-color($primary-color);
  //this last line calls the function set-text.. with argument $primary-color
  
  //this next line does the same that the above two lines but making use of a mixin
  @include set-background($primary-color); 
  height: 600px;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    ul {
      display: flex;
      list-style-type: none;
    }

    li {
      padding: 15px;
    }

    a {
      color: set-text-color($primary-color);
    }

    a:hover {
      color: $secondary-color;
    }

  }

  &-content { //this line means ".showcase-content"
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;

    img {
      width: 50%;
    }

    h1 {
      font-size: 50px;
      line-height: 1.2;
    }
/* 
    p {
      margin: 20px 0;
    }
    this block was originally creating space arround the p tag with class my-1,
    but then we made the spaceamounts and the each loop to create spacings according
    to the name of the class. */

  }

}

@import 'mobile';